@model CarRentalSystem.Models.ViewModels.LoginViewModel

<h2>Login</h2>

<form asp-action="Login" method="post">

    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe">Remember Me</label>
    </div>

    <button type="submit" class="btn btn-success">
        Login
    </button>

</form>

<div asp-validation-summary="All" class="text-danger"></div>